{:deps {org.apache.commons/commons-imaging {:mvn/version "1.0.0-alpha6"}
        com.drewnoakes/metadata-extractor {:mvn/version "2.20.0"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        image-resizer/image-resizer {:mvn/version "0.1.10"}}
 :aliases {:repl {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                               cider/cider-nrepl {:mvn/version "0.62.2"}
                               org.meyvn/nrepl-middleware {:mvn/version "1.4.0"}
                               org.danielsz/system {:mvn/version "0.5.6"}
                               com.kohlschutter.junixsocket/junixsocket-core {:mvn/version "2.10.1"}}}}}

