{:pom {:group-id "com.github.danielsz"
       :artifact-id "beeld"
       :version "1.1.2"
       :name "beeld"
       :licenses [{:name "Eclipse Public License - v 2.0"
                   :url "https://www.eclipse.org/legal/epl-2.0/"}]}
 :packaging {:uberjar
             {:enabled false
              :build-properties {:main-class "beeld.core"}
              :excludes {:artifacts ["org.clojure:google-closure-library" "com.google.javascript:closure-compiler"]
                         :filters ["META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
              :include-source false
              :obfuscation {:enabled false}}
             :jar {:enabled true}}
 :interactive {:enabled true
               :reload-on-save true
               :repl-port :auto
               :repl-host "127.0.0.1"
               :repl-unix-socket "nrepl.socket"}
 :distribution-management {:id "clojars", :url "https://clojars.org/repo"}}
